<h2 class="about">
  Give some feedback!
</h2>
<form>
  First name:<br>
  <input type="text" name="firstname" value="Taylor"><br>
  Last name:<br>
  <input type="text" name="lastname" value="Wu"><br><br>
  <input type="submit" value="Submit">
</form>