<h2 class="about">
  About Me
</h2>
<p>
  Hello everyone, my name is Taylor Wu and welcome to my introduction website. I am currently a student attending the University of Utah. I plan on majoring in Information System and will graduate in Spring 2017. I love to go snowboarding in the winter and I play tennis during the summer time. During my free time I like play video games like CS:GO and League of Legends. I'm am taking this course to learn more about web development and I am exited to be here!
</p> 
