.banner {
  background-color: #b3d9ff;
  border-style: outset;

}

.content {
  height: 400px;
  padding: 5px;
  text-align: center;
  background: -webkit-linear-gradient(to right, #0000FF, #00FFFF);
  background: -moz-linear-gradient(to right, #0000FF, #00FFFF);
  background: linear-gradient(to right, #0000FF, #00FFFF);
}

.footer {
  overflow: auto;
  width: 100%;
  height: 150px;
  background-color: #b3d9ff;
  text-align: center;
}

.bannertitle {
  text-align: center;
  font-size: 35px;
  height: 75px;
  padding-bottom: 40px;
}

#image {
  float:left;
}

.fa {
  padding: 10 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.about{
  font-size: 30px;
  color: white;

}